:root{
    --first-color: #65fdc3;
    --second-color: #1E90FF;
    --white: #fff;
    --third-color: #8a256f;
    --black-color: rgb(12, 12, 12);
}

body {
    display: flex;
    flex-direction: column;
}
.card-badges {
    width: 17.35rem;
    height: 10rem;
    overflow: hidden;
    background-color: var(--first-color);
    padding: 0.45rem;
    margin: 0.25rem;
}
.badge1 {
    position: absolute;
    font-weight: 600;
    top: 0.30rem;
    left: 18.2rem;
    padding: 0.25rem 0.70rem;
    border-radius: 50%;
    background-color: var(--second-color);
    color: var(--white);
}

/* dismiss */

.card-dismiss {
    width: 17rem;
    height: 10rem;
    overflow: hidden;
    background-color: var(--third-color);
    padding: 0.90rem;
    margin: 0.50rem;
    color: var(--white);
}
.card-dismiss-icon {
    top: 13rem;
    left: 290px;
    position: absolute;
    color: var(--white);
    
}
.card-dismiss-icom:hover {
    color: var(--black-color);
}

/* card overlay */

.card-overlay {
    position: relative;
    transition: all 0.5s ease-in;
    width: 17rem;
    height: 10rem;
    overflow: hidden;
    margin: 1rem;
    background-color: var(--third-color);
}
.overlay__text {
    color: var(--third-color);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* card text */
.card-with-text {
    background-color: var(--second-color);
    width: 17rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
}
.h3-text {
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
}
.para {
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--white);
}

/* card shadow */
.card-shadow {
    width: 15rem;
    height: 10rem;
    overflow: hidden;
    background-color: var(--third-color);
    padding: 0.25rem;
    margin: 2rem;
    color: var(--white);
    box-shadow: 10px 10px 5px grey;
}

/* horizontal card  */
.card-img {
    position: relative;
    width: 10rem;
    height: 6rem;
    border-radius: 0.75rem;
}
.cards {
    background-color: var(--white);
    height: 10rem;
    width: 22rem;
    padding: 0.75rem;
}
.container {
    display: flex;
    border-radius: 0.75rem;
    border: 0.01px solid rgb(206, 206, 206);
}
.subheadings {
    margin-left: 0.75rem;
}
.header {
    font-size: 1.20rem;
    font-weight: 500;
}
.subtext {
    font-size: 1rem;
    font-weight: 400;
    padding: 4.35rem;
}
.container:hover,
.container:hover .image {
    background-color: var(--white);
    opacity: 0.8;
}
