body{
    display: flex;
    flex-direction: column;
}
.card-badges {
    width: 250px;
    height: 150px;
    overflow: hidden;
    background-color: rgba(168, 231, 247, 0.6);
    padding: 10px;
    margin: 20px;
}
.card-badges span {
    position: absolute;
    font-weight: 600;
    top: 10px;
    left: 280px;
    padding: 8px 12px;
    border-radius: 50%;
    background-color: rgb(0, 107, 230);
    color: white;
}

/* dismiss */

.card-dismiss {
    width: 270px;
    height: 170px;
    overflow: hidden;
    background-color: #8a256f;
    padding: 10px;
    margin: 20px;
    color: white;
}
.card-dismiss i {
    top: 34px;
    left: 520px;
    position: absolute;
    color: rgb(236, 236, 236);
}
.card-dismiss i:hover {
    color: black;
}

/* card overlay */

.card-overlay {
    position: relative;
    transition: all 0.5s ease-in;
    width: 250px;
    height: 150px;
    overflow: hidden;
    margin: 20px;
    background-color: rgb(88, 39, 39);
}
.overlay__text {
    color: rgb(85, 3, 3);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* card text */
.card-with-text {
    background-color: aliceblue;
    width: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.card-with-text h3 {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.card-with-text p {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}


/* card shadow */
.card-shadow {
    width: 250px;
    height: 170px;
    overflow: hidden;
    background-color: #8a256f;
    padding: 10px;
    margin: 40px;
    color: white;
    box-shadow: 10px 10px 5px grey;
}

/* horizontal card  */
.cards img {
    position: relative;
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }
  .cards {
    background-color: rgb(253, 253, 253);
    height: 150px;
    width: 340px;
    padding: 10px;
  }
  .container {
    display: flex;
    border-radius: 10px;
    border: 0.01px solid rgb(206, 206, 206);
  }
  .subheadings {
    margin-left: 10px;
  }
  .header {
    font-size: 20px;
    font-weight: 500;
  }
  .subtext {
    font-size: 15px;
    font-weight: 400;
    padding: 70px;
  }
  .container:hover,
  .container:hover .image {
    background-color: #b3b2b2;
    opacity: 0.8;
  }
  