.input-box input{
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.input-icon input{
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.input-success input{
    padding: 5px;
    margin: 10px;
    border: 2px solid green;
    border-radius: 5px;
}

.input-error input{
    padding: 5px;
    margin: 10px;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 5px;
}