<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>grid</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div class="grid-container-product">
            <div class="card-product">
                <img class="image-product" src="coat.jpg" />
                <div class="card-title">
                    <p class="img-label">Man Premium Coat</p>
                    <label class="product-price"
                        >₹ 600 <del class="strike">₹ 3000</del></label
                    >
                    <p class="off">50% Off</p>
                    <div class="quantity">
                        <span>Quantity:</span>
                        <span class="add">-</span>
                        <span class="quantity-total">1</span>
                        <span class="add">+</span>
                    </div>
                    <button class="remove-btn">Remove from Cart</button>
                    <button class="move-btn">Move to Wishlist</button>
                </div>
            </div>

            <div class="price-container">
                <p class="price-title">Card Title</p>

                <div class="price-body">
                    <label class="price-label">Price (2 items)<p class="price">₹ 1200</p></label>

                    <label  class="price-label">Discount<p class="price">- ₹ 1999</p></label>

                    <label class="price-label">Delivery Charges<p class="price">₹ 400</p></label>

                    <label class="price-label total">TOTAL AMOUNT<p class="price">₹ 1600</p></label>
                </div>

                <p class="price-footer">You will save ₹1999 on this order</p>

                <button class="place-order">Place Order</button>
            </div>
        </div>
    </body>
</html>
