:root {
    --background-color: #fff;
    --font-color: #888;
    --second-font: #111;
    --button-color: #5146ee;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.card-title {
    padding: 1.20rem 0rem 0rem 19rem;
}
.card {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 7rem;
    width: 40rem;
    height: 21rem;
    background-color: var(--background-color);
    box-shadow: -9px -3px 73px -43px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -9px -3px 73px -43px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px -3px 73px -43px rgba(0, 0, 0, 0.75);
}
.image {
    position: fixed;
    width: 18rem;
    height: 21rem;
}
.img-label {
    font-size: 1.45rem;
    color: var(--second-font);
}
.product-price {
    font-size: 1.75rem;
    font-weight: bolder;
}
.strike {
    font-size: 1.20rem;
    color: var(--font-color);
}
.off {
    font-size: 1rem;
    font-weight: bold;
    color: var(--font-color);
}
.add {
    border-radius: 50%;
    border: 1px solid black;
    padding: 0.2rem 0.55rem;
    margin: 0.50rem;
}
.quantity-total {
    border-radius: 0.45rem;
    border: 1px solid var(--second-font);
    padding: 0.20rem 1rem;
}
.quantity {
    margin-bottom: 1rem;
}
.remove-btn,
.move-btn {
    background-color: var(--button-color);
    color: var(--background-color);
    border: none;
    width: 19rem;
    height: 2.40rem;
    margin-top: 0.70rem;
}

/*  */
.price-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
    width: 22rem;
    height: 23rem;
    background-color:var();
    box-shadow: -9px -3px 73px -50px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -9px -3px 73px -50px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px -3px 73px -50px rgba(0, 0, 0, 0.75);
    padding: 1rem;
}
.price-label{
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 1.10rem;
    margin-top: 0rem;
}
.price-title {
    font-size: 1.55rem;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.total{
    padding-top:1rem;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.price-footer {
    padding: 0.25rem;
    font-size: 1.20rem;
}
.place-order{
    background-color: var(--button-color);
    color: var(--background-color);
    border: none;
    width: 22rem;
    height: 2.40rem;
    margin-top: 0.70rem;
}

