.primary-btn button {
    background-color: #319795;
    color: white;
    font-size: 14px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.primary-btn button:hover {
    background-color: #225f5e;
}

.ghost-btn button {
    background-color: transparent;
    color: #319795;
    font-size: 14px;
    padding: 12px;
    border-color: #319795;
    border-radius: 10px;
    margin: 10px;
}
.ghost-btn button:hover {
    background-color: #89ebe9;
}

.icon-btn button {
    background-color: transparent;
    color: #319795;
    font-size: 14px;
    padding: 12px;
    border-color: #319795;
    border-radius: 10px;
    margin: 10px;
}
.icon-btn i {
    padding-right: 10px;
}
.icon-btn button:hover {
    background-color: #89ebe9;
}

.link-btn button {
    background-color: transparent;
    font-size: 18px;
    padding: 12px;
    border:none;
    margin: 10px;
}
.link-btn a{
    color: #319795;
}
.link-btn a:hover{
    color: #034948;
}


.float-btn button{
    background-color: transparent;
    color: #319795;
    font-size: larger;
    padding: 12px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}

.float-btn:active{
    float: right;
}