.primary-btn button {
    background-color: #319795;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.primary-btn button:hover{
    background-color: #225f5e;
}
