<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <div class="primary-btn">
            <button class="click-me-btn">Click Me</button>
        </div>

        <div class="ghost-btn">
            <button class="ghost-click-me-btn">Click Me</button>
        </div>

        <div class="icon-btn">
            <button class="icon-btn-order"><i class="fas fa-shopping-bag icon-order"></i>Order</button>
        </div>

        <div class="link">
            <button class="link-btn"><a  class="clink-me-link" href="/">Click Me!</a></button>
        </div>

        <div class="float-btn">
            <button class="btn-float">+</button>
        </div>
    </body>
</html>
