<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="buttonStyle.css" />
    </head>
    <body>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <div class="primary-btn">
            <button>Click Me</button>
        </div>

        <div class="ghost-btn">
            <button>Click Me</button>
        </div>

        <div class="icon-btn">
            <button><i class="fas fa-shopping-bag"></i>Order</button>
        </div>
    </body>
</html>
