<!DOCTYPE html>
<html>
    <head>
        <title>Parcel Sandbox</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="styles.css" />
    </head>

  <body>
    <div class='avatar'>
        <img class="avatar-img" src='https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80' />
      </div>
      
      <div class='avatar no-src'>
        <p>K T</p>
      </div>
      
      <div class='avatar no-src-no-name'>
          <img class="avatar-img" src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png' />
      </div>
</body>
</html>
    

