:root{
    --grey: #888;
}


.avatar {
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0.75rem;
}
.avatar-img {
    width: 100%;
    height: 100%;
}

.no-src {
    display: flex;
    background: var(--grey);
    color: white;
    justify-content: center;
    align-content: center;
}

.rectangular {
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
}
.rectangular img {
    width: 100%;
    height: 100%;
}
