.avatar {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px;
}
.avatar img {
    width: 100%;
    height: 100%;
}

.no-src {
    display: flex;
    background: grey;
    color: white;
    justify-content: center;
    align-content: center;
}

.rectangular {
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
}
.rectangular img {
    width: 100%;
    height: 100%;
}
