:root {
    --star-color: #ffa845;
    --secondary-color: #ffcb83;
}
.check-ratings{
    margin: 3rem;
}
.checking{
    color: var(--star-color);
}
.ratings {
    margin: 3rem;
}
.checked:active{
    color: var(--star-color);
}
.unchecked:hover {
    color: var(--secondary-color);
}
.border-ratings {
    margin: 3rem;
}
