<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>list</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <ul class="unordered-list">
            <li class="ul-item">Item 1</li>
            <li class="ul-item">Item 2</li>
            <li class="ul-item">Item 3</li>
            <li class="ul-item">Item 4</li>
            <li class="ul-item">Item 5</li>
        </ul>

        <ul class="ordered-list">
            <li class="ol-item">Item 1</li>
            <li class="ol-item">Item 2</li>
            <li class="ol-item">Item 3</li>
            <li class="ol-item">Item 4</li>
            <li class="ol-item">Item 5</li>
        </ul>
    </body>
</html>
