<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>list</title>
        <link rel="stylesheet" href="styles.css" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <ul class="unordered-list">
            <li class="ul-item">Item 1</li>
            <li class="ul-item">Item 2</li>
            <li class="ul-item">Item 3</li>
            <li class="ul-item">Item 4</li>
            <li class="ul-item">Item 5</li>
        </ul>

        <ol class="ordered-list">
            <li class="ol-item">Item 1</li>
            <li class="ol-item">Item 2</li>
            <li class="ol-item">Item 3</li>
            <li class="ol-item">Item 4</li>
            <li class="ol-item">Item 5</li>
        </ol>

        <ul class="icon-list">
            <li class="icon-item"><i class="fas fa-check-square"></i> Item 1</li>
            <li class="icon-item"><i class="far fa-square"></i> Item 2</li>
            <li class="icon-item"><i class="far fa-square"></i> Item 3</li>
            <li class="icon-item"><i class="fas fa-check-square"></i> Item 4</li>
            <li class="icon-item"><i class="far fa-square"></i> Item 5</li>
        </ul>
    </body>
</html>
