<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="badgeStyle.css" />
    </head>
    <body>
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
            crossorigin="anonymous"
        />

        <div class="badgeIcon">
            <i class="fas fa-envelope fa-3x message"></i>
            <span class="badge-icon">4</span>
        </div>

        <div class="badgePicture">
            <img class="badgepic" src="pic.jpg" />
            <span class="badge-picture"></span>
        </div>

        <div class="badgeButton">
            <button class="add">Added</button>
            <span class="add-btn">4</span>
        </div>
    </body>
</html>
