<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
            crossorigin="anonymous"
        />

        <div class="badgeHeading">
            <h1 class="textHeading">
                Text Heading <span class="btn1">Badge</span>
            </h1>

            <h2 class="textHeading">
                Text Heading <span class="btn2">Badge</span>
            </h2>

            <h3 class="textHeading">
                Text Heading <span class="btn3">Badge</span>
            </h3>

            <h4 class="textHeading">
                Text Heading <span class="btn4">Badge</span>
            </h4>
        </div>

        <div class="badgeIcon">
            <i class="fa fa-bell fa-3x" aria-hidden="true"
                ><span class="badge-icon">1</span></i
            >
            <i class="fa fa-heart fa-3x" aria-hidden="true"
                ><span class="badge-icon">4</span></i
            >
        </div>

        <div class="badge-image">
            <div class="add-image">
                <img src="./pic.jpg" alt="badge-image" class="image-lg" />
                <span class="online"></span>
            </div>
            <div class="add-image">
                <img src="./pic.jpg" alt="badge-image" class="image-lg" />
                <span class="offline"></span>
            </div>
        </div>
    </body>
</html>
