:root {
    --primary-color: #888;
    --second-color: #557cff;
}
.head {
    margin: 1.75rem;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    width: 100%;
    background-color: var(--primary-color);
}
.search {
    margin: auto;
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
}
.fa-lg {
    padding: 1rem;
}
.btn {
    padding: 0.65rem;
    background-color: var(--second-color);
    border-radius: 0.45rem;
    margin: 1.15rem;
}
