:root {
    --primary-color: rgb(194, 194, 194);
    --second-color: #0031d1;
    --third-color: #fff;
}
.head {
    margin: 1.75rem;
    font-size: 1.25rem;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    width: 100%;
    background-color: var(--primary-color);
}
.search {
    margin: auto;
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
}
.fa-lg {
    padding: 1rem;
    margin: 0rem 1.75rem 0rem 0rem;
}
.btn {
    padding: 0.65rem 1rem;
    background-color: var(--second-color);
    border-radius: 0.45rem;
    border: none;
    margin: 1.15rem;
    font-size: 1rem;
    color: var(--third-color);
}
