<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>modal</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="modal">
                <h1 class="header">Modal View</h1>
                <p class="modal-text">Here is modal content which provide information to your project do you want to add something?</p>
                <button class="submit">Allow</button>
        </div>

    </body>
</html>
