<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>modal</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h1>Modal</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur ut impedit ipsum alias corporis? Quod consequuntur
            nesciunt, placeat laborum asperiores, aspernatur quisquam
            consequatur saepe nostrum omnis aliquid vel accusamus, laudantium
            blanditiis maxime distinctio harum. Ex provident odio accusantium
            fugit sequi veniam maiores beatae nesciunt placeat, quia alias
            deserunt. Illo, consequatur! Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Distinctio quasi possimus inventore deserunt odit
            doloremque omnis quae quia nulla mollitia voluptate praesentium, at
            asperiores quis, eveniet aperiam itaque? Hic, ea!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur ut impedit ipsum alias corporis? Quod consequuntur
            nesciunt, placeat laborum asperiores, aspernatur quisquam
            consequatur saepe nostrum omnis aliquid vel accusamus, laudantium
            blanditiis maxime distinctio harum. Ex provident odio accusantium
            fugit sequi veniam maiores beatae nesciunt placeat, quia alias
            deserunt. Illo, consequatur! Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Distinctio quasi possimus inventore deserunt odit
            doloremque omnis quae quia nulla mollitia voluptate praesentium, at
            asperiores quis, eveniet aperiam itaque? Hic, ea!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur ut impedit ipsum alias corporis? Quod consequuntur
            nesciunt, placeat laborum asperiores, aspernatur quisquam
            consequatur saepe nostrum omnis aliquid vel accusamus, laudantium
            blanditiis maxime distinctio harum. Ex provident odio accusantium
            fugit sequi veniam maiores beatae nesciunt placeat, quia alias
            deserunt. Illo, consequatur! Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Distinctio quasi possimus inventore deserunt odit
            doloremque omnis quae quia nulla mollitia voluptate praesentium, at
            asperiores quis, eveniet aperiam itaque? Hic, ea!
        </p>
        <div class="modal">
            <div class="modal-overlay"></div>
            <h1 class="header">Modal View</h1>
            <p class="modal-text">
                Here is modal content which provide information to your project
                do you want to add something?
            </p>
            <div class="modal-footer">
                <button class="submit">Allow</button>
            </div>
        </div>
    </body>
</html>
