:root {
    --primary-color: #4a4b4b;
    --second-color: #9a16ce;
    --third-color: #c65efa;
    --white: rgb(231, 227, 227);
}
.modal-overlay {
    position: absolute;
    filter: blur(2.22px) grayscale(0.46);
    height: 100vh;
    width: 100vw;
}
.modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 22rem;
    height: 15rem;
    background-color: var(--primary-color);
    z-index: 50;
    padding: 1rem;
}
.header {
    font-size: 1.65rem;
    color: var(--white);
}
.modal-text {
    font-size: 1.34rem;
    color: var(--white);
}
.submit {
    display: flex;
    padding: 0.85rem;
    font-size: 1rem;
    background-color: var(--second-color);
    color: var(--white);
    border: none;
    border-radius: 0.45rem;
}
.modal-footer{
    display: flex;
    justify-content: flex-end;
}
