<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>text-utilities</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div class="heading">
            <h1 class="h1">This is Heading1</h1>
            <h2 class="h2">This is Heading2</h2>
            <h3 class="h3">This is Heading3</h3>
            <h4 class="h4">This is Heading4</h4>
            <h5 class="h5">This is Heading5</h5>
        </div>
        <div class="text-size">
            <p class="txt-sm">This is small Text</p>
            <p class="txt-base">This is regular Text</p>
            <p class="txt-md">This is medium Text</p>
            <p class="txt-lg">This is large Text</p>
            <p class="txt-xl">This is extra large Text</p>
        </div>
        <div class="font-weight">
            <p class="font-300">Light Text</p>
            <p class="font-400">Regular Text</p>
            <p class="font-500">Medium Text</p>
            <p class="font-600">Semi-bold Text</p>
            <p class="font-700">Bold Text</p>
        </div>
        <div class="centered-text">
            <p class="start">Text Align Start</p>
            <p class="centered">Text Align Center</p>
            <p class="end">Text Align End</p>
        </div>
    </body>
</html>
