:root{
    --background-color: #333;
    --font-color: #cacaca;
    --btn-color: #cc27f5;
}
.snackbar{
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    height: 2.34rem;
    background-color: var(--background-color);
    color: var(--font-color);
}
.snackbar-message{
   margin: 0.5rem;
   font-size: 1.10rem;
}
.snackbar-btn{
    padding: 0rem 0.25rem 0rem 1.80rem;
    background-color: transparent;
    border: none;
    color: var(--btn-color);
    font-size: 1.10rem;
    font-weight: 600;
}
.snackbar-close{
    padding: 0.1rem 0.25rem 0rem 1rem;
    background-color: transparent;
    border: none;
    color: var(--font-color);
}