.error {
    background-color: #fed7d7;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}
.error i {
    padding-right: 10px;
    color: #fa5252;
}

.success{
    background-color: #C6F6D5;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}
.success i {
    padding-right: 10px;
    color: #12b303;
}

.warning {
    background-color: #FEEBC8;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}
.warning i {
    padding-right: 10px;
    color: #da9008;
}

.info {
    background-color: #BEE3F8;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}
.info i {
    padding-right: 10px;
    color: #009df8;
}