<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
            crossorigin="anonymous"
        />
        <div class="error">
            <i class="fas fa-exclamation-circle error-Icon"></i>
            <span>There was an error to processing your work.</span>
        </div>

        <div class="success">
            <i class="fas fa-check-circle success-icon"></i>
            <span>Succesfully Done the process.</span>
        </div>

        <div class="warning">
            <i class="fas fa-exclamation-circle warning-icon"></i>
            <span>Your balance is about to expire.</span>
        </div>

        <div class="info">
            <i class="fas fa-info-circle info-icon"></i>
            <span>Meeting has been schedule tonight.</span>
        </div>
    </body>
</html>
